$maxWidth : 1280px;
$smallPadding : 5px;
$largerPadding : 10px;
$smallFont : 0.9em;
/*Cores*/
$backgroundColor : #455A64;
$contentBackground : #FFFFFF;
$background-gray : #fcfcfc;

/*Material pallet*/
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

@import 'elementos';
@import 'idelementos';


*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.maxWidth{
    max-width:  $maxWidth;
    width: 100%;
}

.maxHeight{
    min-height: 90vh;
    height: 100%;
}

.content{
    background-color: $contentBackground;
}

.padding{
    padding: $smallPadding;
    box-sizing: border-box;
}

.padding-larger{
    padding: $largerPadding;
    box-sizing: border-box;
}

.small-font{
    font-size: $smallFont;
}

.border-5-top{
    border-bottom: 5px solid $accent-color;
}

.border-5-bottom{
    border-bottom: 5px solid $accent-color;
}

.logo{
    max-width: 300px;
    width:100%;
}

.bold{
    font-weight: bold;   
}

.margin-2{
    margin:2px;
}

.margin-5-bottom{
    margin-bottom:5px;
}

.footer{
    background-color: $primary-color;
    color: #FFF;

    a{
        color: #FFF;
        font-weight: bold;
        text-decoration: underline;
    }
}

.icones-menu{
    a{
        color: $primary-text-color;
        text-decoration: none;

        -webkit-filter: grayscale(80%);
        filter: grayscale(80%);

        &:hover{
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%) 
        }

        & img{
            max-width:64px;
            width:100%;
            cursor: pointer;
        }
    }
}

.clear{
    clear: both;
}

.bg-gray{
    background-color: $background-gray;
    padding:10px;
    box-sizing: border-box;
}

.box-permissao{
    padding:5px;
    box-sizing: border-box;
    margin-top: 10px;
}

.border-red{
    border:1px solid #FF5252;
}

.border-green{
    border:1px solid #80bf77;
}

.margin-right{
    margin-right: 10px;
}
